<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html style="background-color: #d2d2d2">
  <head>
    <title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="resume.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
  </head>
  <body>
    <div id="doc2" class="yui-t7" style="margin: 70px auto;">
      <div id="inner">
        <div id="hd">
          <div class="yui-gc first">
            <%= image_tag('1.jpg', alt: "Ilie Babcenco", class: "my-img") %>
            <div class="contacts">
              <h1 class="np">ILIE BABCENCO</h1>
              <h2 class="cont-h">Student Software Engineer</h2>
              <h3 class="cont-h"><%= link_to "Download C.V.", download_pdf_path, id: "pdf" %></h3>
              <h3 class="cont-h"><a href="mailto:ilie.babcenco@gmail.com">ilie.babcenco@gmail.com</a></h3>
              <h3 class="cont-h">+37360848661</h3>
            </div>
          </div>
          <!--// .yui-gc -->
        </div>
        <!--// hd -->
        <div id="bd">
          <div id="yui-main">
            <div class="yui-b">
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Profile</h2>
                </div>
                <div class="yui-u">
                  <p class="enlarge">
                    Perseverant and ambitious software engineer with a burning desire to grow fast in this domain. Capable of ramping up quickly and efficiently, working in a team or in solo. Remote work lover. Fluent in multiple languages, frameworks, and technologies.
                  </p>
                </div>
              </div>
              <!--// .yui-gf -->
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Skills</h2>
                </div>
                <div class="yui-u">
                  <div class="talent">
                    <h2>Front-End</h2>
                    <p>JavaScript, React, Redux, jQuery, HTML5, CSS3, Bootstrap, SASS</p>
                  </div>
                  <div class="talent">
                    <h2>Back-End</h2>
                    <p>Ruby, Ruby on Rails, Java, SQL, Spring</p>
                  </div>
                  <div class="talent">
                    <h2>Professional</h2>
                    <p>Remote Pair-Programming, Teamwork, Mentoring</p>
                  </div>
                </div>
              </div>
              <!--// .yui-gf -->
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Tools & Methods</h2>
                </div>
                <div class="yui-u">
                  <ul class="talent">
                    <li>Git</li>
                    <li>GitHub</li>
                    <li class="last">Heroku</li>
                  </ul>
                  <ul class="talent">
                    <li>Netlify</li>
                    <li>Responsive Dev</li>
                    <li class="last">RSpec</li>
                  </ul>
                  <ul class="talent">
                    <li>Chrome Dev Tools</li>
                    <li>Windows 10</li>
                    <li class="last">Linux</li>
                  </ul>
                </div>
              </div>
              <!--// .yui-gf-->
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Experience</h2>
                </div>
                <!--// .yui-u -->
                <div class="yui-u">
                  <div class="job">
                    <h2>MICROVERSE</h2>
                    <h3>Mentor (Volunteer)</h3>
                    <h4>March, 2021– Present</h4>
                    <p>Mentored junior web developers, providing technical support through code reviews.
                      Proposed improvements to code organization to improve code quality and overall performance.
                    </p>
                  </div>
                  <hr></br>
                <div class="job">
                  <h2>Moldindconbank</h2>
                  <h3>Client Relationship Manager </h3>
                  <h4>May, 2017 – February, 2021</h4>
                  <p>Сonfident communication with clients.
                    Best time management and organization skills.
                  </p>
                </div>
              </div>
            </div>
            <div class="yui-gf">
              <div class="yui-u first">
                <h2>Education</h2>
              </div>
              <div class="yui-u">
                <div class="job">
                  <h2>MICROVERSE</h2>
                  <h3>Remote Full Stack Web Development Program, Full Time</h3>
                  <h4>February, 2021 – Present</h4>
                  <p>MSpent 1300+ hours mastering algorithms, data structures, and full-stack development while simultaneously developing projects with Ruby, Rails, JavaScript, React, and Redux.</br>
                  Developed skills in remote pair-programming using GitHub, industry-standard gitflow, and daily standups to communicate and collaborate with international remote developers.
                </p>
              </div>
              <hr></br>
            <div class="job">
              <h2>IUCOSOFT</h2>
              <h3>Full Stack Java Developer</h3>
              <h4>May, 2017 – February, 2021</h4>
              <p>Spent 200+ hours on mastering Java, Java WEB and Java EE.<br>
                Basic concepts of Spring, Hibernate, JUnit..
              </p>
            </div>
          </div>
        </div>
        <footer id="ft">
          <p>Ilie Babcenco &mdash; <a href="mailto:ilie.babcenco@gmail.com">ilie.babcenco@gmail.com</a> &mdash; +37360848661</p>
        </footer>
      </div>
    </div>
  </body>
</html>
